
<div class="example-button-row" style="text-align: right;">

  <button routerLink="/projetcollab" mat-stroked-button color="success">
    <i class="fa fa-plus" aria-hidden="true"></i>
   Affecter des Projet</button>
</div>
<div class="row">
<div class="col-md-6" style="top: 10px;">
  <div class="panel panel-success">
    
      <div class="panel-heading">
      <h4>Chef de Projet</h4>
    </div>
    <div class="panel-body">
      <div class="example-container">
        <form [formGroup]="reactiveForm"  >
          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="Nom" type="text" name="nom" formControlName="nom"
            [(ngModel)]="chefProjet.nom">
          </mat-form-field>
          <mat-form-field  class="example-full-width">
            <input autocomplete="off" matInput placeholder="Email" type="text" name="email" formControlName="email"
            [(ngModel)]="chefProjet.email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="Téléphone" type="text" name="tel" formControlName="tel"
            [(ngModel)]="chefProjet.tel">
          </mat-form-field>
          <mat-form-field  class="example-full-width">
            <input autocomplete="off" matInput placeholder="Competence" type="text" name="competence" formControlName="competence"
            [(ngModel)]="chefProjet.competence">
          </mat-form-field>
          
<div>
      
<button  (click)="saveChefProjet()" class="btn" mat-raised-button color="primary"
      >Ajouter</button>
            
    </div>
        </form>
        

      </div>
    </div>
  </div>
    </div>
<div class="col-md-6" style="top: 10px; ">
      <div class="panel panel-info">
        
          <div class="panel-heading">
            <h4>Gestionnaire de Projet</h4>
         
        </div>
        <div class="panel-body">
          <div class="example-container">
            <form [formGroup]="reactiveForm"   >
              <mat-form-field class="example-full-width">
                <input autocomplete="off" matInput placeholder="Nom" type="text" name="nom" formControlName="nom"
                [(ngModel)]="gestionnaireProjet.nom">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input autocomplete="off" matInput placeholder="Email" type="text" name="email" formControlName="email"
                [(ngModel)]="gestionnaireProjet.email">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input autocomplete="off" matInput placeholder="Téléphone" type="text" name="tel" formControlName="tel"
                [(ngModel)]="gestionnaireProjet.tel">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input autocomplete="off" matInput placeholder="NB projet géré" type="text" name="nbprojgere" formControlName="nbprojgere"
                [(ngModel)]="gestionnaireProjet.nbprojgere">
              </mat-form-field>
            <div>
              <button (click)="saveGestionnaireProjet()"  class="btn" mat-raised-button color="primary"
              >Ajouter</button> 
            </div>

            </form>
            
          </div>
        </div>
      </div>
        </div>
      </div>
    

<div class="row">
    <div class="col-md-12 " >
        <div class="panel panel-warning">
            <div class="panel-heading">
            
            <h4>Liste Des Collaborateur</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped " *ngIf="collaborateurs">
                <thead >
                  <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Profil</th>
                    <th>Competence</th>
                    <th>NB projet géré</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of collaborateurs._embedded.gestionnaireProjets"  >
                    <td>{{c.nom}}  </td>
                    <td>{{c.email}} </td>
                    <td>{{c.tel}} </td>
                    <td>{{c.profil}} </td>
                    <td>_</td>
                    <td>{{c.nbprojgere}} </td>
                    <td>
                     <a (click)="ondelet(c)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                     <a class="btn btn-warning"><i class="fa fa-pencil-square " aria-hidden="true"></i></a>
                   </td>
                  </tr>
                  <tr *ngFor="let c of collaborateurs._embedded.chefProjets"  >
                   <td>{{c.nom}}  </td>
                   
                   <td>{{c.email}} </td>
                   <td>{{c.tel}} </td>
                   <td>{{c.profil}} </td>
                   <td>{{c.competence}} </td>
                   <td>_</td>
                   <td>
                   
                     <a (click)="ondelet(c)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                     <a class="btn btn-warning"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                   </td>
                 </tr>
       
                 </tbody>  
              </table>  
            </div>
        </div>    
    </div>
  </div>