#mission{
    
    
}
h4{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 20px;
    text-align: center;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  
  .list-group-item{
    
    width: 230px;
    cursor: pointer;
  }
  p{
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    background: #c8f19c;
  }
  a{
    text-align: center;
  }