


<div  id="mission">
<div class="col-md-12 " >
    <div class="panel panel-default">
        <div class="panel-heading">
        <h4>Ajouter des Missions</h4>
        </div>
        <div class="panel-body">
            <form [formGroup]="missionform"  >
                <div class="example-container">
                    <mat-form-field>
                      <input matInput placeholder="Input">
                    </mat-form-field>
                  
                    <mat-form-field>
                      <textarea matInput placeholder="Textarea"></textarea>
                    </mat-form-field>
                  
                    <mat-form-field>
                      <mat-select placeholder="Select">
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  
              <button  class="btn" mat-raised-button color="primary"
                  >Ajouter</button> 
                </form>
        </div>
    </div>    
</div>
<div class="col-md-12 " >
    <div class="panel panel-default">
        <div class="panel-heading">
        <h4>Liste Des Missions</h4>
        </div>
        <div class="panel-body">
           
        </div>
    </div>    
</div>
</div>