
.example-form {
    min-width: 50px;
    max-width: 100px;
    width: 100%;
  }
  
  .example-full-width {
    width: 40%;
    margin-left: 50px;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
    top: 10px;
  }
  h4{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 20px;
    text-align: center;
  }
