
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"  >
        Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>


<div class="row" >
  <div class=" col-md-6">
    <div class="panel panel-default" style="margin-left: 20px;">
      <div class="panel-heading" style="background: #007bff;">
        <div class="row">
          <div class="col-xs-3">
            
            <i class="fa fa-users fa-5x" ></i>
          </div>
          <div class="col-xs-9 text-right">
            
            <div class="titre">Collaborateurs</div>
          </div>
        </div>
      </div>
      <a routerLink="/collaborateur">
        <div class="panel-footer" style="background: #007bff;">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-success" style="margin-right: 20px;">
      <div class="panel-heading" style="background: #ffc107;">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
           
            <div class="titre">Mission</div>
          </div>
        </div>
      </div>
      <a routerLink="/mission">
        <div class="panel-footer" style="background: #ffc107;">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow" style="margin-left: 20px;" >
      <div class="panel-heading" style="background: #dc3545;">
        <div class="row">
          <div class="col-xs-3">
            
            <i class="fa fa-cogs fa-5x" ></i>
          </div>
          <div class="col-xs-9 text-right">
            
            <div class="titre">Projets</div>
          </div>
        </div>
      </div>
      <a routerLink="/projet">
        <div class="panel-footer" style="background: #dc3545;">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red" style="margin-right: 20px;">
      <div class="panel-heading" style="background: #28a745;">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
           
            <div class="titre">Taches</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer" style="background: #28a745;">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
    
<div class="row">
  <h4 style="margin-top: 10%;text-align: center;font-family: monospace;">Les Budget par projet</h4>
  <div class="col-md-12" style="margin-top: 5%;">
    
<div>
  <app-projetcollab [data]="budget"></app-projetcollab>


</div>
  </div>
  


</div>

 
